/* css test */

#liveForm .kpl_builder .panel-footer .btn.submit-btn .button-big{
border-radius:999px !important;
  color: #ff0000 !important;
} 

.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.on{
    background: #2BA4A6 !important;
}


.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare .neb-rating-value label.rating-label.hover{
    background: #2C8287 !important;
    
}

