@import 'https://web-assets.m.co/fonts/subset.css';

:root {
 
 
 /*typography*/
 
 --typography-fontFamily: 'Berlingske Sans',sans-serif;    
 --typography-body-size: 15px; 
 --typography-headline-size: 15px; 
 --typography-subHeadline-size: 15px;
 
 /*colors*/
 
 --palette-core-primary: #2BA4A6;
 --palette-core-secondary: #ffffff;
 --palette-core-canvas: #FFFFFF;   
 --palette-core-container: rgba(0, 0, 0, .05); 
 --palette-core-outline: none;
 --palette-core-component-background: #ffffff;
 --palette-typography-body: #1E1E24;
 --palette-typography-headline: #1E1E24;
 --palette-typography-subHeadline: #646473;
 --palette-typography-error: #C64E50;
 --palette-typography-placeholder: #646473;
 /*--palette-typography-poweredby: #FF0000;*/
 --palette-typography-user-input: #1E1E24;
 --palette-typography-link: #2467C6; 
 --palette-action-group-border: #2BA4A6;
 
 /* border for the checkbox and radio buttons */
 
 /* border bottom for the text area and text input in default state */
 --palette-text-border-bottom: rgba(65, 65, 78, 0.15); 
 
 --survey-padding: 40px 24px 8px;
 --survey-margin: 0;
 
 --margin-headline: 0 0 4px 0;
 --margin-subHeadline: 0 0 4px 0;
 --base-headlines-margin: 0 0 8px 0;
 --margin-validationError: 8px 0 0 0;
 --rating-squares-border-color: rgba(65, 65, 78, 0.15);
 --questions-spacing: 40px; 
 /* vertical spacing between survey fields */
 
 /*slider*/
  --slider-track-active-color: #2BA4A6;
  --slider-track-inactive-color: #EAF6F6;
  --slider-border-color: transparent !important;
 
 --questions-spacing: 45px;
 --palette-typography-user-input: #1E1E24;
 
}
html {
 min-height: auto !important;
}
html, body {
 font-family: var(--typography-fontFamily);
 display: flex;
 justify-content: center;
 align-items: center;
 width: -webkit-fill-available;
 overflow-x: hidden;
 padding: 0;
 margin: 0;
 background: var(--palette-core-canvas);
 font-weight: 400;
 color: #0ff;
 -webkit-font-smoothing: antialiased;
}
* {
 box-sizing: border-box;
}

form {
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background: var( --palette-core-canvas);
 min-height: auto !important;
 /*min-height: 100vh;*/
}
form main {
 flex: 0 0 auto;
}

form main h2{
    font-weight: 600 !important;
    color: #1E1E24;
}

form main h2, form main label {
    max-width: 110vw;
}

textarea, input , button , select{
    border: 1px solid rgba(65, 65, 78, 0.15) !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

input[type=range] {
    border-color: transparent !important;
}

select:focus {
 outline: none;
 border-color: rgba(43, 164, 166, 1) !important;
}

h1,h2,h3,h4,h5,h6,p{
 font-weight:unset;
 padding: 0; 
 margin: 0;
}

div output{
    border: 1px solid rgba(65, 65, 78, 0.15) !important;
    border-radius: 13px !important;
}

.surveyBtn {
    font-size: 15px;
    font-weight: 700 !important;
    font-style: bold;
    line-height: 18px;
    background-color: #2BA4A6 !important;
    box-shadow: 0px 10px 20px rgba(30, 30, 36, 0.2);
    border-radius: 50px !important;
    letter-spacing: normal !important;
    padding-bottom: 45px !important; 
}

.ratingMinLabel, .ratingMaxLabel {
    font-size: 15px !important;
    color: #646473 !important;
}
 
/* Android */
li label span:before{
    border: 1px solid rgba(65, 65, 78, 0.15) !important;
}
