/* css test */

:root {
    color-scheme: light dark;
    -- m1: red !important;
}

button.new-mobile-button, .new-mobile-button {
border-radius:999px !important;
color: var(--m1); 
} 

.mobile-sdk-poweredby {
visibility:hidden !important;
}

.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label,
 .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle
label.rating-label,
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label {
   
  background: #D4D4D4 !important; /* background color*/
  color: #313139 !important; /* text color unselected */
  border: none !important;
  
}

  .neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.on, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.on,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.on {
  background: #2BA4A6 !important;
  color: #FFF !important; 
}

.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.hover, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.hover,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.hover {
  background: #2BA4A6 !important;
  color: #FFF !important; 
}
  
  
