/* css test */

#liveForm .kpl_builder .panel-footer .btn.submit-btn .button-big{
border-radius:999px !important;
  color: #ff0000 !important;
} 

[class*=control-label"] {
font-weight:bold !important;
color: #ff0000 !important;
} 
