/* 
	* 
	* Berlingske Sans Regular
	* Berlingske Sans Italic
	* Berlingske Sans Demibold
	* Berlingske Sans Demibold Italic
	* Berlingske Sans
	* Berlingske Sans Italic
	*
	*/

@font-face {
	font-family: 'Berlingske Sans';
	src: url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-Rg.woff2')format('woff2'), url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-Rg.woff')format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Berlingske Sans Italic';
	src: url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-It.woff2')format('woff2'), url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-It.woff')format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Berlingske Sans Demibold';
	src: url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-DBd.woff2')format('woff2'), url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-DBd.woff')format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Berlingske Sans Demibold Italic';
	src: url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-DBdIt.woff2')format('woff2'), url('https://hello.m.co/rs/512-ZYE-598/images/BerlingskeSans-DBdIt.woff')format('woff');
	font-weight: 600;
	font-style: italic;
}


/* 
	* 
	* M Stencil Bold
	*
	*/

@font-face {
	font-family: 'M Stencil';
	src: url('https://hello.m.co/rs/512-ZYE-598/images/MStencil-Bold.woff2') format('woff2'), url('https://hello.m.co/rs/512-ZYE-598/images/MStencil-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* css test */

:root {
    font-family: Berlingske Sans, sans-serif !important;
    color-scheme: light dark;
    -- m1: #ff0000 !important;
}

button.new-mobile-button, .new-mobile-button {
border-radius:999px !important;
color: var(--m1); 
} 

.mobile-sdk-poweredby {
visibility:hidden !important;
}

.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label,
 .neb-rating-html-implementation neb-rating .neb-rating.numbersCircle
label.rating-label,
  .neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label {
   
  background: #D4D4D4 !important; /* background color*/
  color: #313139 !important; /* text color unselected */
  border: none !important;
  
}

  .neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.on, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.on,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.on {
  background: #2BA4A6 !important;
  color: #FFF !important; 
}

.neb-rating-html-implementation neb-rating .neb-rating.numbers
label.rating-label.hover, .neb-rating-implementation neb-rating
.neb-rating.numbersCircle label.rating-label.hover,
.neb-rating-html-implementation neb-rating .neb-rating.numbersSquare
.neb-rating-value label.rating-label.hover {
  background: #2BA4A6 !important;
  color: #FFF !important; 
}
  
  
