:root {
 --typography-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;    
 --typography-body-size: 16px; 
 /* content,options,placeholders, error */    
 --typography-headline-size: 20px; 
 --typography-subHeadline-size: 14px;
 /* description */    
 --palette-core-primary: #6200EE; 
 /* checkbox, submit */   
 --palette-core-secondary: #6200EE61; 
 /* close,back */   
 --palette-core-canvas: #FFFFFF;   
 --palette-core-container: rgba(0, 0, 0, .05); 
 /* component background + opacity primary*/
 --palette-core-outline: rgba(18, 24, 38, .1);
 --palette-core-component-background: #F5F5F5;
 --palette-typography-body: #000000;
 --palette-typography-headline: rgba(0, 0, 0, 1);
 --palette-typography-subHeadline: rgba(0, 0, 0, 0.7);
 --palette-typography-error: rgba(176, 0, 32, 1);
 --palette-typography-placeholder: rgba(18, 24, 38, .7);
 --palette-typography-poweredby: #2C3548;
 --palette-typography-user-input: #000;
 --palette-typography-link: #2467C6; 
 /* link inside Label component */
 --palette-action-group-border: rgba(0, 0, 0, 0.6); 
 /* border for the checkbox and radio buttons */
 --palette-text-border-bottom: rgba(0, 0, 0, .08); 
 /* border bottom for the text area and text input in default state */
 --survey-padding: 40px 24px 8px;
 --survey-margin: 0;
 --margin-headline: 0 0 4px 0;
 --margin-subHeadline: 0 0 4px 0;
 --base-headlines-margin: 0 0 8px 0;
 --margin-validationError: 8px 0 0 0;
 --rating-squares-border-color: #0000001A;
 --questions-spacing: 40px; 
 /* vertical spacing between survey fields */
}
html {
 min-height: 100%;
}
html, body {
 font-family: var(--typography-fontFamily);
 display: flex;
 justify-content: center;
 align-items: center;
 width: -webkit-fill-available;
 overflow-x: hidden;
 padding: 0;
 margin: 0;
 background: var(--palette-core-canvas);
 font-weight: 400;
 color: #444;
 -webkit-font-smoothing: antialiased;
}
* {
 box-sizing: border-box;
}
form {
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background: var( --palette-core-canvas);
 min-height: 100vh;
}
form main {
 flex: 0 0 auto;
}
form main h2, form main label {
 max-width: 110vw;
}

textarea, input , button , select{
 outline: none;
 border: none;
 -webkit-appearance: none;
}
select:focus {
 outline: none;
}

h1,h2,h3,h4,h5,h6,p{
 font-weight:unset;
 padding: 0; 
 margin: 0;
}

._10o3Ogtkx0b1R7N7tOe-dr{
 padding-bottom: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
}
._3t4RX2DOABolTIc5y8WHk1{
 font-size: 12px;
 color: var(--palette-typography-poweredby);
 margin-right: 4px;
 letter-spacing: 0.2px;
}
._2Tbi7lNVIs6NppPxnQXuLw{
 color: var(--palette-typography-poweredby);
 text-decoration: none;
 vertical-align: middle;
}

._2Jsq4ytAJ0j0ZeUMeutfA1 {
 width: 64px;
 height: 16px;
 vertical-align: inherit;
}
                                


